/*
/*/
!/mysite/
!/themes/
!/device-detector/
.DS_Store
!robots.txt
!index.php
!Readme.md
!web.config
!/composer.json
!/composer.lock
!/.gitignore
!favicon.ico
!.ddev
!/blissmediassbootstrap
!/blissmediasscontentblocks
!/blissmediassformvalidator
/mysite/local.conf.php
/mysite/error2.log
!.htaccess
